@font-face {
    	font-family: 'arconregular';
    	src: url('../fonts/arcon-regular-webfont.woff2') format('woff2'),
         url('../fonts/arcon-regular-webfont.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
}

body {
	background-color: #3A3B41;
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: 'arconregular';
}

.title {
	position: relative;
	top: -10vh;
	font-size: 9vh;
	color: #72BDA3;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0px 0px 5px 5px;
  animation-name: titlechange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
	font-family: 'arconregular';
}

@media (orientation: portrait) {
	.title {
		position: relative;
		top: -10vw;
		font-size: 10vw;
		color: #72BDA3;
		font-family: "Inter", sans-serif;
		text-align: center;
		text-transform: uppercase;
		border-radius: 0px 0px 5px 5px;
		  animation-name: titlechange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
	}
  }

@keyframes titlechange {

0% {color: #72BDA3;}
50% {color: #ffffff;}
100% {color: #72BDA3;}
}

.description {
	position: absolute;
  top: 240px;
	font-size: 35px;
	color: #5E8C61;
  font-weight: normal;
	font-family: "Inter", sans-serif;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
  transition: transform 0.2s; 
  cursor: crosshair;
}
.main {
	letter-spacing: 2px;
	font-family: "Inter", sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.searchbar {
    top:-15vh;
    padding: 1vw;
    width: 45vh;
	position: relative;
    border-radius: 5px;
    background: #5E8C61;
    text-align: center;
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
	transition: 0.2s;
}
@media (orientation: portrait) {
	.searchbar {
		top:-15vw;
		padding: 1vw;
		width: 45vw;
		position: relative;
		border-radius: 5px;
		background: #ffffff;
		text-align: center;
		font-size: 24px;
		border: none;
		outline: none;
		color: white;
		transition: 0.2s;
	}
  }
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0vw;
	background-color: var(--bg-c);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}
.particles-js-canvas-el {
	z-index: 0;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.key-button {
    cursor: crosshair;
    border: 2px;
    transition: 0.2s;
    margin-top: 10px;
	font-size: 1.3vw;
    background-color: #4E6151;
    padding: 0.5rem;
    border-radius: 0.375rem;
    color: white;
    height: 50px;
    width: 19%;
    padding: 10px;
    text-align: center;
	display:inline-block;
	position: relative;
	top:-13.75vh;
}

button {
    cursor: crosshair;
    border: 2px;
    transition: 0.2s;
    margin-top: 10px;
    background-color: #4E6151;
    padding: 0.5rem;
    border-radius: 0.375rem;
    color: white;
    height: 50px;
    width: 19%;
    padding: 10px;
    text-align: center;
}
